<div class="container bg-light">
  <div class="row m-auto pb-4" style="max-width: 600px">
    <div class="col">
      <form  [formGroup]="form">
        <div class="mb-3 pt-3 px-md-5 d-flex flex-column align-items-center">
          <label class="form-label fs-3">Tip pretrage:</label>
          <select
            role="button"
            class="form-select form-select"
            formControlName="tip"
          >
            <option value="broj">Broj stanice</option>
            <option value="naziv">Naziv stanice</option>
          </select>
        </div>
        <!-- search by number of station -->
        <div
          *ngIf="this.form.value.tip == 'broj'"
          class="w-100 d-flex flex-column align-items-center px-md-5 py-2"
        >
          <label class="form-label">Broj stanice: </label>
          <input formControlName="broj" type="text" class="form-control" />
        </div>
        <!-- search by number of station END-->
        <!-- search by name of station -->
        <div
          *ngIf="this.form.value.tip == 'naziv'"
          class="d-flex flex-column align-items-center py-2 px-md-5"
        >
          <label for="typeahead-focus">Ime stanice:</label>
          <input
            style="max-width: 600px"
            id="typeahead-focus"
            type="text"
            class="form-control"
            [(ngModel)]="searchNameStation"
            [ngModelOptions]="{standalone:true}"
            [ngbTypeahead]="onSearchName"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #inputByNameStation="ngbTypeahead"
          />
        </div>
        <!-- search by name of station END-->
        <div class="d-flex justify-content-center p-3">
          <button (click)="onSubmit()" type="button" class="btn btn-primary w-25">Traži</button>
        </div>
      </form>
    </div>
  </div>
</div>
